# API access

requests
biopython # Entrez (PUBMED)
pandas
lxml

# Not needed unless we are directly parsing pubmed XML
# bs4

# Implictly, this is already in the repo
# pip install git+git://github.com/titipata/pubmed_parser.git

unidecode
tqdm

# Caching

diskcache
brotlicffi

# NLP

transformers
 
